@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

:root {
  /* Color palette */
  --primary-color: #000000   ;
  --secondary-color: #4392F1 ;
  --accent1-color: #88292F;
  --accent2-color: #50D8D7;

  /* Fonts */
  --heading-font: "Titillium Web";
  --paragraph-font: "Titillium Web";

  /* Color allocation */
  --headline-color-on-white: #000000;  /* headlines on a white background */ 
  --headline-color-on-color: #88292F; /* headlines on a colored background */ 
  --paragraph-color-on-white: #000000; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #50D8D7; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000000  ;
  --nav-link-color: #50D8D7;
  --nav-background-color: #000000;
  --nav-hover-link-color: #4392F1;
  --nav-hover-background-color: #50D8D7;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button.box {
    text-align: center;
}
main section {
    text-align: center;
    color: var(--paragraph-color-on-color);
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: var(--primary-color);
}
body {
    background-color: var(--paragraph-background-color); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: var(--primary-color);
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
.book, .join {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}
.book:hover, .join:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
    color: var(--paragraph-color-on-color);
}
footer{
    background-color: var(--secondary-color);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: var(--headline-color-on-color);
    font-family: 'Rock Salt';
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: var(--headline-color-on-color);
}
.msg h2 {
    color: var(--paragraph-color-on-color);
    font-family: 'Rock Salt';
}
.msg p {
    color: var(--paragraph-color-on-color);
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: var(--paragraph-color-on-color);
    text-decoration: underline;
}
footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid var(--accent2-color);
}