h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
}


body {
    background-color:	#4E1609;
}
section, h1 {
    background-color: aqua;
    font-size: 25px;
}

.latin {
    color: #FF00FF;
    text-align: center;
    margin:100px 50px;
    padding: 250px;
    border:100px solid yellow;
}